@{
    ViewData["Title"] = "Index";
}
<section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url(assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
    <div class="overlay"></div>
    <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=ITUid-bDsl8',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
    <div class="container">
        <div class="row js-fullheight justify-content-center d-flex align-items-center">
            <div class="col-md-8">
                <div class="text text-center">
                    <span class="subheading">Welcome to</span>
                    <h2>Stylistic</h2>
                    <h3 class="mb-4">A Professional Model Agency</h3>
                    <p><a href="#" class="btn btn-primary py-3 px-4">Become A Model</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-featured-model">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_1.jpg);">

                        <div class="name text-center">
                            <h3><a href="model-single.html">Andrea</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Andrea<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_2.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Nicole</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Nicole<br><span>Wall</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_3.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Cindy</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Cindy<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_4.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Jannah</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Jannah<br><span>Doe</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-about-section">
    <div class="container px-0">
        <div class="row d-md-flex text-wrapper">
            <div class="one-half img" style="background-image: url('/assets/images/image_5.jpg');"></div>
            <div class="one-half half-text d-flex justify-content-end align-items-center">
                <div class="text-inner pl-md-5">
                    <span class="subheading">Hello!</span>
                    <h3 class="heading">Stylistic A Professional Model Agency</h3>
                    <p>Far far away,<strong>creative</strong> behind the word mountains, far from the countries Vokalia and Consonantia, there live the <strong>success</strong> blind texts. Separated they live in Bookmarksgrove</p>
                    <ul class="my-4">
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Even the all-powerful Pointing</li>
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Behind the word mountains</li>
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Separated they live in Bookmarksgrove</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Fashion Shows</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-megaphone"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Corporate Events</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-photo-camera"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Commercial Photo Shots</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-shopping-bag"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Exhibitions/Trade Shows Shows</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container px-4">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-items-center ftco-animate">
                <div class="heading-section text-center">
                    <h2 class="">Our Tops Model's</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_1.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Andrea</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Andrea<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_2.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Cassy</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Cassy<br><span>Tailor</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_3.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Angela</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Angela<br><span>Bocks</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_4.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">May</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">May<br><span>Doe</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_5.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Nicole</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Nicole<br><span>Wall</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_6.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Jannah</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Jannah<br><span>Tan</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_7.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Mariel</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Mariel<br><span>Rivera</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_8.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Maria</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Maria<br><span>Corazon</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_9.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Ozawa</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Ozawa<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(/assets/images/image_10.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Maine</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Maine<br><span>Mendoza</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center align-items-center ftco-animate">
                <div class="btn-view">
                    <p><a href="/home/models" class="btn btn-white py-3 px-5">View more</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-5 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2 class="mb-4">Recent Blog</h2>
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia </p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry bg-dark align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_1.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">May 17, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Asia's Next Top Model</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry bg-dark align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_2.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">May 17, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Asia's Next Top Model</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry bg-dark align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/assets/images/image_3.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">May 17, 2019</a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-3"><a href="#">Asia's Next Top Model</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section img" style="background-image: url(/assets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Mike Lewis</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-appointment ftco-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mb-5 heading-section text-center ftco-animate">
                <span class="subheading">Stylistic</span>
                <h2 class="mb-4">Contact Us</h2>
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Email:</span> <a href="https://colorlib.com/cdn-cgi/l/email-protection#8ae3e4ece5caf3e5fff8f9e3feefa4e9e5e7"><span class="__cf_email__" data-cfemail="5c35323a331c2533292e2f352839723f3331">[email&#160;protected]</span></a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Website:</span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 appointment ftco-animate">
                <form action="#" class="appointment-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-md-flex">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-me-flex">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-me-flex">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-me-flex">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your City">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Send A Message" class="btn btn-primary py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container px-0">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-12 d-flex align-self-stretch">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-quote ftco-section ftco-animate">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 req-quote py-5 text-center align-items-center img" style="background-image: url(/assets/images/bg_2.jpg);">
                <h3 class="ml-md-3">Become A Model?</h3>
                <span class="ml-md-3"><a href="#">Call us now to know how!</a></span>
            </div>
            <div class="col-md-6 req-quote py-5 text-center align-items-center img" style="background-image: url(/assets/images/bg_1.jpg);">
                <h3 class="ml-md-3">Model Courses</h3>
                <span class="ml-md-3"><a href="#">Know more</a></span>
            </div>
        </div>
    </div>
</section>
