@{
    ViewData["Title"] = "models";
}


<section class="ftco-section  ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 ftco-animate">
                <div class="heading-section text-center mb-5">
                    <span class="subheading">Models</span>
                    <h2 class="">Our Tops Model's</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-4">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_1.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Andrea</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Andrea<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_2.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Cassy</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Cassy<br><span>Tailor</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_3.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Angela</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Angela<br><span>Bocks</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_4.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">May</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">May<br><span>Doe</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_5.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Nicole</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Nicole<br><span>Wall</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_6.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Jannah</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Jannah<br><span>Tan</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_7.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Mariel</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Mariel<br><span>Rivera</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_8.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Maria</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Maria<br><span>Corazon</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_9.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Ozawa</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Ozawa<br><span>Smith</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_10.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Maine</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Maine<br><span>Mendoza</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_11.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Natasha</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Natasha<br><span>Mendoza</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="model-entry">
                    <div class="model-img" style="background-image: url(images/image_12.jpg);">
                        <div class="name text-center">
                            <h3><a href="model-single.html">Elaine</a></h3>
                        </div>
                        <div class="text text-center">
                            <h3><a href="model-single.html">Elaine<br><span>Wax</span></a></h3>
                            <div class="d-flex models-info">
                                <div class="box">
                                    <p>Height</p>
                                    <span>185</span>
                                </div>
                                <div class="box">
                                    <p>Bust</p>
                                    <span>79</span>
                                </div>
                                <div class="box">
                                    <p>Waist</p>
                                    <span>40</span>
                                </div>
                                <div class="box">
                                    <p>Hips</p>
                                    <span>87</span>
                                </div>
                                <div class="box">
                                    <p>Shoe</p>
                                    <span>40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>