@{
    ViewData["Title"] = "modelsingle";
}

<section class="hero-wrap" style="background-image: url(/assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home</a></span> <span>About</span></p>
                <h1 class="mb-5 bread">About Us</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb ftco-about-section">
    <div class="container-fluid px-0">
        <div class="row d-md-flex text-wrapper">
            <div class="one-half img" style="background-image: url('/assets/images/bg_5.jpg');"></div>
            <div class="one-half half-text d-flex justify-content-end align-items-center">
                <div class="text-inner pl-md-5">
                    <span class="subheading">Hello!</span>
                    <h3 class="heading">Stylistic A Professional Model Agency</h3>
                    <p>Far far away,<strong>creative</strong> behind the word mountains, far from the countries Vokalia and Consonantia, there live the <strong>success</strong> blind texts. Separated they live in Bookmarksgrove</p>
                    <ul class="my-4">
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Even the all-powerful Pointing</li>
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Behind the word mountains</li>
                        <li><span class="ion-ios-checkmark-circle mr-2"></span> Separated they live in Bookmarksgrove</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-quality"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Fashion Shows</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-megaphone"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Corporate Events</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-photo-camera"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Commercial Photo Shots</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services ftco-animate text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-shopping-bag"></span></div>
                    <div class="info mt-4">
                        <h3 class="mb-4">Exhibitions/Trade Shows Shows</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section img" style="background-image: url(/assets/images/bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Mike Lewis</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Architect</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap text-center">
                            <div class="user-img mb-5" style="background-image: url(/assets/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
